body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header, footer {
    background-color: #ff4c4c; /* Red */
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav {
    background-color: #0044cc; /* Blue */
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.game {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.game img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #0044cc; /* Blue border */
}
.game h3 {
    margin: 0;
}
.game p {
    margin: 0;
    padding-left: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ff4c4c; /* Red border */
    border-radius: 5px;
}
form button {
    padding: 10px;
    background-color: #ff4c4c; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
form button:hover {
    background-color: #cc0000;
}

